<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-logo" src="assets/fleur_de_lis_gold.svg">
      <a class="navbar-brand">LouEatsVille</a>
      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input (keyup.enter)="applyClicked()" [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Search">
        </div>
        <button (click)="applyClicked()" class="btn btn-default">Apply</button>
      </div>
    </div>
  </div>
</nav>
